ul.album-photo__list
    li(class='album-photo__item')
        .album-photo__top
            .album-photo__img
                .img-hover
                    a(href='#' class='hover-link')
                        .img-hover__block
                            svg(role="img" class="svg")
                                use( xlink:href="/assets/img/sprite.svg#loupe")
        .world__down
            .world__down-inf
                .user__avatar.small
                    .user__avatar-img.small(style="background-image:url('/assets/img/user.jpg');")
                        .avatar-hover
                            a(href='' class='avatar-hover__link')
                                .avatar-hover__block
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#more")
                .discription
                    .photo__discription Отдых в горах
                .comments
                    a(href="#" class='comment-link')
                        .comments__note
                            .svg-wrap
                                svg(role="img" class="svg")
                                    use( xlink:href="/assets/img/sprite.svg#comments")
                    .comments__quant 1
                    a(href='#' class='likes-link')
                        .likes
                            .svg-wrap
                                svg(role="img" class="svg")
                                    use( xlink:href="/assets/img/sprite.svg#like")
                    .likes__quant 1
            .world__down-album
                a(href='#' class="edit-link")
                    .svg-wrap
                        svg(role="img" class="svg")
                            use( xlink:href="/assets/img/sprite.svg#album")
                .album-wrap
                    a(href='user.html')
                        .album__name Горы
    li(class='album-photo__item')
        .album-photo__top
            .album-photo__img
                .img-hover
                    a(href='#' class='hover-link')
                        .img-hover__block
                            svg(role="img" class="svg")
                                use( xlink:href="/assets/img/sprite.svg#loupe")
        .world__down
            .world__down-inf
                .user__avatar.small
                    .user__avatar-img.small(style="background-image:url('/assets/img/user.jpg');")
                        .avatar-hover
                            a(href='#' class='avatar-hover__link')
                                .avatar-hover__block
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#more")
                .discription
                    .photo__discription Отдых в горах
                .comments
                    a(href="#" class='comment-link')
                        .comments__note
                            .svg-wrap
                                svg(role="img" class="svg")
                                    use( xlink:href="/assets/img/sprite.svg#comments")
                    .comments__quant 1
                    a(href='#' class='likes-link')
                        .likes
                            .svg-wrap
                                svg(role="img" class="svg")
                                    use( xlink:href="/assets/img/sprite.svg#like")
                    .likes__quant 1
            .world__down-album
                a(href='search.html' class="edit-link")
                    .svg-wrap
                        svg(role="img" class="svg")
                            use( xlink:href="/assets/img/sprite.svg#album")
                .album-wrap
                    a(href='user.html')
                        .album__name Горы