ul.myalbum__list
    li.myalbum__item
        .myalbum__top
            .myalbum-hover
                a(href='#' class="hover-link")
                    .myalbum-hover__block
                        .album__discription Фотографии природы леса,енотов,оленей
                        .all
                            .photo__quant 7
                            .all__photo-text Фотографий
        .myalbum__down
            a(href='#' class='edit-link')
                .svg-wrap.user
                    svg(role="img" class="svg")
                        use( xlink:href="/assets/img/sprite.svg#edit")
            .user-album
                .album__name Горы