@font-face {
  font-family: 'Panton-Bold';
  src: url('/assets/fonts/Panton-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('/assets/fonts/Proxima Nova Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('/assets/fonts/ProximaNova-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Lightit';
  src: url('/assets/fonts/ProximaNova-Lightit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
