.edit-wrap.album{
  top: 60px;
}
.user-block{
  width: 250px;
  height: 65px;
  display: flex;
  flex-flow: row wrap;
  .user__inf{
    width: 50%;
    display: inline-flex;
  }
  .user__avatar.small{
    align-items: center;

  }
  .user__name{
    margin: 40px 0 0 0;
    font-size: 16px;
  }
}
.album-discribtion{
text-align: center;
display: flex;
  width: 750px;
  flex-flow: column wrap;
  justify-content: center;
}
.album-discribtion__title{
  font-family: "Panton-Bold";
 font-size: 21px;
  color: #fff;
  margin-bottom: 20px;
}
.album-discribtion__text{
  color:#fff;
}
.comments.album{
position: absolute;
  bottom: 5px;
  left:5px;
  .svg{
    fill:#fff;
  }
  .comments__quant{
    color: #fff;
  }
  .likes__quant{
    color:#fff;
  }
}
.myalbum__item.width{
  width: 380px;
}
.add{
  width: 100%;
  height: 60px;
  position: relative;
}
.add__btn{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .svg{
    width: 25px;
    height: 25px;
    fill:#9e9e9e;
  }
}
.flex{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex:1;
  justify-content: center;
}
.all{
  display: flex;
  justify-content: center;
  flex-flow:wrap;
}
.all__photo{
  margin-left: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.photo__quant {
  margin-right: 10px;
}
.all__photo-text{
  font-family: "Panton-Bold";
}
.all__likes{
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
  align-items: center;

}

.all__likes-text{
font-family: "Panton-Bold";
}
.all__comments{
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
  align-items: center;
}
.all__comments-text{
  font-family: "Panton-Bold";
}