.user-block{
  @include tablet {
    width: 60%;
  }
  @include phone {
    width: 100%;
    height: 20%;
    order:1;
    justify-content: flex-start;
  }
  width: 19%;
  height: 65px;
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  .user__inf{
    @include tablet {

    }
    @include phone {

    }
    width: 50%;
    display: flex;
  }
  .user__avatar.small{
    @include tablet {

    }
    @include phone {
      margin-top: 0;
      width: 70px;
      height: 70px;

    }
    align-items: center;

  }
  .user__avatar-img.small{
    align-items: center;
    width: 70px;
    height: 70px;
  }
  .user__name{
    @include tablet {

    }
    @include phone {
    text-align: left;

    }
    margin:  20px 0 0 10px;
    font-size: 16px;
  }
}
.edit-hover.album{
  //top:70px;
}
.album{
  @include tablet {
    width: 90%;
    margin: 0 auto;

  }
  @include phone {
    width: 100%;
    height: 70%;
   justify-content: flex-start;

  }
  text-align: center;
  display: flex;
  width: 61%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.album__name{
  @include tablet {

  }
  @include phone {
    width: 100%;
    margin: 0 0 10px;

  }
  font-family: "Panton-Bold";
 font-size: 21px;
  color: $white ;
  margin-bottom: 10px;
  margin-top: 30px;
}
.album__discription{
  @include tablet {

  }
  @include phone {
    width: 100%;
    margin: 0;

  }
  color:$white;
  width: 100%;
  margin-bottom: 60px;
  overflow: hidden;
}
.comments.album{
  @include tablet {

  }
  @include phone {
    height: 10%;

  }
position: absolute;
  z-index: 15;
  bottom: 20px;
  left:20px;
  .svg{
    fill:$white
  }
  .comments__quant{
    color: $white;
  }
  .likes__quant{
    color:$white;
  }
}

.album-photo__item.width{
  width: 380px;
}

.content-down.all{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.all{
  @include tablet {
    margin-left: -20px;
  }
  @include phone {
    margin-left: -15px;

  }
  display: flex;
  justify-content: center;
  flex-flow:wrap;
  margin-left: 30px;
  color: $black;
  font-family: "Panton-Bold";
}
.all__icons{
  @include tablet {

  }
  @include phone {
    display: block;
  }
  position: relative;
  display: none;
  .svg-wrap{
    width: 30px;
    height: 30px;
    padding-bottom: 15px;
  }
  .svg{
    position: relative;
    fill:$black;
    width: 25px;
    height: 25px;
  }
}
.all__photo{
  margin-left: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.photo__quant {
  margin-right: 10px;
}
.all__photo-text{
  @include tablet {

  }
  @include phone {
    display: none;
  }
  color: $black;
}
.all__likes{
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
  align-items: center;
}

.all__likes-text{
  @include tablet {

  }
  @include phone {
    display: none;
  }
font-family: "Panton-Bold";
}
.all__comments{
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
  align-items: center;
}
.all__comments-text{
  @include tablet {

  }
  @include phone {
    display: none;
  }
  font-family: "Panton-Bold";
}
.album-photo{
  width: 100%;
  height: 100%;
  position: relative;
  background: $lgrey;
}
.album-photo__container{
  @include tablet {
    margin: 0;
  }
  @include phone {
    margin: 0;
  }
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.album-photo__list{
  @include tablet {
    justify-content: center;
    margin-left: -20px;
  }
  @include phone {
  justify-content: center;
  }

  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.album-photo__item{
  @include tablet {
    margin-botom: 20px;
  }
  @include phone {
    width: 370px;
  }
  display: flex;
  flex-direction: column;
  width: 380px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 20px;
  vertical-align:top;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.album-photo__top{
  height: 250px;
  display: flex;
  width: 100%;
  position: relative;
}
.album-photo__img{
  width: 100%;
  position: relative;
  background-size: cover;
  background: url("/assets/img/forest.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.album-photo__down{
  @include tablet {
    height: 70px;
  }
  @include phone {
    height: 60px;
  }
  width: 100%;
  height: 50px;
  background: $white;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  .svg{
    width: 25px;
    height: 25px;
  }

}
.photo__name{
  display: flex;
align-items: center;
}
.photo__name-text{
color: $black;
  margin-right: 20px;
}
.img-hover{

//display: none;
position: absolute;
background: $black;
opacity: 0.8;
  z-index: 10;
 right: 0;
  top: -100%;
  height: 0;
  width: 100%;
  transition: all 0.4s linear;
.svg-wrap{
  width: 55px;
  height: 55px;
  margin: 0;
}
.svg{
  width: 40px;
  height: 40px;
  fill:$white;
}
}
.img-hover:before{
  content: "";
  display: block;
  position: absolute;
  height: 100%;

}
.album-photo__top:hover .img-hover {
  display: block;
  top:0;
  height: 100%;

}
.img-hover__block{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.edit.album {
  @include tablet {
    height: 40%;
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
  }
  @include phone {
    display: none;
  }
}
