.header {

  @include tablet {
    height: 340px;
  }
  @include phone {
    height: 370px;
  }
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: column;
  background:url("/assets/img/no_album_cover.jpg") center  no-repeat;
  background-color: red;
  background-size: cover;
}
.header__top{
  @include tablet {
    height: 270px;
  }
  @include phone {
    height: 295px;
    display: flex;
    flex-flow: column wrap;
  }
  height: 240px;
  width: 100%;
}
.header-container{
  @include phone {
    flex-flow: column-reverse wrap;
  }
  position: relative;
  height: 100%;
  display: flex;
  flex:1;
  justify-content: space-between;
  flex-flow: row wrap;
}
.header__down{
  @include tablet {
    height: 70px;
  }
  @include phone {
    height: 75px;
  }
  width: 100%;
  height: 60px;
  opacity: 0.7;
  background: #c4cbcd;
}
.user{
  @include phone {
    width: 80%;
    height: 85%;
    margin: 0 auto;
    flex-flow: column wrap;
  }
  width: 610px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
.user__avatar{
  @include phone {
    width: 100%;
    height: 40%;
    margin-top:-40px;
    align-items: center;
  }
  width: 170px;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__avatar-img{
  @include tablet {
    margin-bottom: 30px;
  }
  @include phone {
    width: 65px;
    height: 65px;
    margin: 0 auto;
  }
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px #fff solid;
  margin:3px 0 0 26px;
  position:relative;
  background-size:cover;
  background-position: 50% 10%;


}
.avatar-pic{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
}
.user__inf{
  @include phone {
    width: 100%;
    height: 60%;
    display: flex;
    flex:1;
    flex-flow: column nowrap;
  }
  width: 430px;
  height: 100%;
  position: relative;
  margin: 0;
}
.user__name{

  @include phone {
   margin: 0 0 5px;
   text-align: center;
    height: 20%;
  }
  font-size: 21px;
  color: $white;
  width: 100%;
  font-family: 'Panton-Bold';
  margin: 55px 35px 10px;
}
.user__text{

  @include phone {
    margin:  0 auto;
    text-align: center;
    width: 88%;
    font-size: 18px;
  }
  color: $white;
  margin: 0 35px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user__icons-list{

  @include phone {
    margin:  0 auto;

  }
  width: 160px;
  display: flex;
  margin: 20px 35px 10px;
}
.user__icons-item{

  @include phone {
    margin-top: 10px;
  }
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  opacity: 0.8;
  .svg{
    width: 20px;
    height: 20px;
    fill:$white;

  }
  &:hover{
    opacity: 1;
  }
}

.content-down{
  @include desktop {
    width: 1800px;
  }
  @include laptop{
    width: 1200px;
  }
  @include tablet {
    width: 750px;
  }
  @include phone {
    width: 95%;
    justify-content: center;
  }

  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search{

  @include phone {
    width: 380px;
    height: 50px;
  }
  display: flex;
  flex-flow: row wrap;
  width: 380px;
  height: 40px;
  border-radius: 23px;
  background: $white;


  &:hover{
    border: 1px $blue solid;
  }

}
.search-input{
  border: none;
  outline:none;
  width: 50%;

}
//header-fixed
.header-fixed{
  display: none;
  width: 100%;
  height: 60px;
  background: $lgrey;
  z-index: 9999;
  .edit-wrap.home{
    top: -15px;

  }

}
.top{
  position: fixed;
  display: block;
}
.fixed-wrap{
  @include tablet {
  justify-content: flex-start;
  }
  @include phone {
    justify-content: center;
  }
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  flex:1;
  justify-content: space-between;
  .album{
    @include tablet {
      width: 70%;
      margin: 0 auto;
    }
    @include phone {
      margin-top: 10px auto;
    }
    margin: 0 auto;
  }
  .album__name{
    margin: 0;
    color: $black;
  }
  .user-block{
    @include tablet {
      width: 30%;
    }
    @include phone {
      width: 20%;
      height: 100%;
      order:-1;
    }
    margin: 0;
    .user__avatar-img.small{
      width: 50px;
      height: 50px;
      margin-bottom: 5px;
    }
  }
  .edit.album{

    @include tablet {
      margin: 10px 20px 0;
      width: 40px;
      height: 40px;
    }
    .edit-wrap.edit:hover{
      width: 120px !important;
    }

  }
  .edit-wrap.home{
    @include tablet {
      width: 40px;
      height: 40px;
    }
    margin: 0;

  }
  .user__inf{
    @include phone {
      display: none;
    }

  }
  .user__name{
    @include phone {
    display: none;
    }
    margin: 0;
    color:$black;
  }

}
.header-error{
  width: 480px;
  height: 40px;
  background: $white;
  position: absolute;
  top: 0;
  right: 70px;
  display: none;
  z-index: 9999;
  text-align: center;

}

.header-error__text{
  margin-top: 10px;
  font-size: 14px;
}
