.header {
  position: relative;
  height: 300px;
  width: 100%;
  background:url("/assets/img/bg.jpg") center  no-repeat;
  background-color: #373e42;
  background-size: cover;
}
.header-top{
  height: 240px;
  width: 100%;
}
.header-container{
  position: relative;
  height: 100%;
  display: flex;
  flex:1;
  justify-content: space-between;
  flex-flow: row wrap;
}
.header-down{
  width: 100%;
  height: 60px;
  opacity: 0.7;
  background: #c4cbcd;
}
.user{
  width: 580px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
.user__avatar{
  width: 150px;
  height: 100%;
  margin: 0;  display: flex;
  align-items: center;
}

.user__avatar-img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px #fff solid;
  margin: 0 auto;
  position:relative;
  background-size:cover;
  background-position: 50% 10%;


}
.avatar-pic{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
}
.user__inf{
  width: 430px;
  height: 100%;
  position: relative;
  margin: 0;
}
.user__name{
  font-size: 21px;
  color: #fff;
  width: 100%;
  font-family: 'Panton-Bold';
  margin: 55px 15px 20px;
}
.user__text{
  color: #fff;
  margin: 0 15px 20px;
  word-break: break-all;
}
.user__icons-list{
  width: 160px;
  display: flex;
  margin-left: 15px;
}
.user__icons-item{
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  opacity: 0.8;
  .svg{
    width: 25px;
    height: 25px;
    fill:#fff;
  }
  &:hover{
    opacity: 1;
  }
}
.edit{

  width: 100px;
  height: 100%;
  position: relative;
  .svg-wrap{
    margin: 0 auto;
  }
  .svg{
    width: 20px;
    height: 20px;
    fill:#cdcdcd;
  }
}
.edit-wrap{
  margin-top: 20px;
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  top:0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  cursor: pointer;
}
.logout{
  margin-top: 80px;
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  cursor: pointer;
}
.content-down{
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search{
  display: flex;
  flex-flow: row wrap;
  width: 390px;
  height: 45px;
  border-radius: 23px;
  background: #fff;
  &:hover{
    border: 1px #28bbef solid;
  }

}
.search-input{
  border: none;
  outline:none;
  width: 50%;
}