.world{
  @include tablet {
  }
  @include phone {
    //margin: 20px 0  0;
  }
  width: 100%;
  height: 100%;
  margin-top: 50px;
  position: relative;
  background: $white;
}
.world__title{
  @include tablet {

  }
  @include phone {
    height: 10%;
    font-size: 38px;
    text-align: center;
    margin: 0 0 45px;
  }
  width: 100%;
  font-family: 'Panton-Bold';
  font-size: 42px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 22px;
  .svg-wrap{
    display: flex;
    align-items: center;
  }
}
.world__container{
  position: relative;
  width: 100%;
  height: 100%;
  //margin: 0 auto;
  margin-bottom: 40px;
}
.world__list{
display: flex;
  flex-flow: wrap;
 // margin: 0 auto;
  //margin: -1em 0 0 -1em;
}
.world__item{
  display: flex;
  flex-direction: column;
  width: 380px;
  overflow: hidden;
  margin-bottom: 20px;
 margin-left: 20px;
  vertical-align:top;

}
.world__top{
  height: 250px;
  display: flex;
  width: 100%;

}
.world-img{
  width: 100%;
  position: relative;
  background-size: cover;
  background: url("/assets/img/no_photo.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;

}
.img-hover{
  height: 250px;
  //width: 100%;
  position: absolute;
  background: #373e42;
  opacity: 0.7;
}
.world__down{
width: 100%;
  overflow: hidden;

}
.world__down-inf{
  @include tablet {

  }
  @include phone {
   justify-content: center;

  }
  width: 100%;
  height: 90px;
  display: flex;
  flex-flow: column wrap;
  .user__avatar.small{
    @include tablet {

    }
    @include phone {
    margin-top: 10px;

    }
    margin-left: 5px;
  }

}
.world__down-album{
background: $lgrey;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  .album-wrap{
display: flex;
    align-items: center;
  }
  .album__name{
    margin: 0 20px 0 0;
    color:$dgrey;
    font-family: 'Proxima Nova Semibold';
    font-size: 14px;
  }
}

.album__name-text{
  color:$dgrey;
  position: relative;
  font-family: 'Proxima Nova Semibold';
  top:8px;
  text-align: center;
}

.user__avatar.small{
  @include tablet {

  }
  @include phone {

  }
  width: 80px;
  height: 100%;
  margin-left: 20px;

}
.user__avatar-img.small{
  width: 55px;
  height: 55px;
  margin: 0 auto;
}
.discription{
text-align: left;
  width: 70%;
  margin: 15px 0 10px;
}
.photo__discription{
font-size: 18px;
  margin-left: 2px;
}
.comments{
  display: flex;
  width: 120px;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  .svg-wrap{
  width: 25px;
  margin: 0;
}
  .svg{
    top:3px;
    width: 20px;
    height: 20px;
  }
}
.comments__note{
  width: 20px;
  height: 20px;
}
.comments__quant{
  width: 20px;
  font-size: 16px;
}
.likes{
  width: 20px;
  height: 20px;
}
.likes__quant{
  width: 20px;
  font-size: 16px;
}
//myalbum
.add.main{
 margin-top: -60px;
}
.noalbum{
  display: none;
  width: 100%;
  height: 300px;
}
.noalbum-text{
position: relative;
  top:50%;
  left: 40%;
 transform: translateY(50%);
}

.album-name__block{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
  .album__name{
    color: #cdcdcd;
    font-family: "Proxima Nova Semibold";
    font-size: 14px;
    margin: 0;
  }
}

.world-hover{
  display: none;
  position: absolute;
  background: $black;
  opacity: 0.7;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: 0;
  .svg-wrap{
    width: 55px;
    height: 55px;
    margin: 0;
  }
  .svg{
    width: 40px;
    height: 40px;
    fill:$white;
    margin-bottom: 20px;
  }
}
.world-hover:before{
  content: "";
  display: block;
  position: absolute;
  height: 100%;

}
.world__top:hover .world-hover {
  display: block;
}
.world-hover__block{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.avatar-hover{
  display: none;
  position: absolute;
  background: $black;
  opacity: 0.7;
  top: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: 0;
  .svg-wrap{
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .svg{
   width: 20px;
    height: 20px;
    fill:$white;

  }
}
.avatar-hover__block{
display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.avatar-hover:before{
  content: "";
  display: block;
  position: absolute;
  height: 100%;

}
.user__avatar-img.small:hover .avatar-hover {
  display: block;
}
