$blue: #20b6ed;
$white: #ffffff;
$dgrey:#a0a09f;
$lgrey: #f6f6f6;
$black: #050a0d;

@mixin desktop {
  @media (max-width: 1920px) {
    @content
  }
}
@mixin laptop {
  @media (max-width: 1400px) {
    @content
  }
}
@mixin tablet {
  @media (max-width: 900px) {
  @content
  }
}

@mixin phone {
  @media (max-width: 568px) {
  @content
  }
}


@mixin absolute_center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}