* {
  box-sizing: border-box;
}

html, body {
  @include desktop {
    font-size: 16px;
  }
  @include tablet {
    font-size: 14px;
  }
  @include phone {
    font-size: 13px;
  }
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'ProximaNova-Light', sans-serif;
  line-height: 1.52;
}

body {
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.wrapper{
  @include desktop {
    width: 1920px;
  }
  @include laptop {
    width: 100%;
  }
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-content{
  flex:1;
}
.content{
  height: 100%;
  margin: 0 auto;

  @include desktop {
    width: 1700px;
  }
  @include laptop{
    width: 1200px;
  }
  @include tablet {
    width: 750px;
  }
  @include phone {
    width: 95%;
  }
}

