doctype html
html
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        title Обо мне

        link(rel='stylesheet' href='assets/css/foundation.css')
        link(rel='stylesheet' href='assets/css/app.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
    body
        .add-photo.modal__window
            .modal__header
                .modal__title Добавить фотографии
                svg.modal__close
                    use(xlink:href="assets/img/sprite.svg#close")
            .add-photo__main.modal__main
                .add-photo__main-header
                    .add-photo__title.modal__desc Название
                    .add-photo__name.modal__text Как я провёл лето
                .add-photo__add-field
                    .add-field__icon
                        svg.add-field__image
                            use(xlink:href="assets/img/sprite.svg#cam")
                    .add-field__desc
                        | Перетащите фото сюда или
                        span.add-field__file  выберите файл
                .add-photo__error Выбран неверный формат изображения. Попробуйте снова
            .modal__footer
                .modal__footer-left
                    .btn.btn_save Сохранить
                    .modal__cancel Отменить