extends ../_template

block variables
    - var title = 'Forget'


block content
    include ../commons/index/index_content
        .wrapper
            .login
                .content
                    .login__top
                        .flip-container
                                .front
                                    h2.login__title Восстановление пароля
                                    form(action="#" method="POST" class="form")
                                        div(class='form-block exept')
                                           .form-question Забыли пароль?
                                        div(class='form-block height')
                                           .form-text Ничего страшно, введите свой email, и мы вышлем вам инструкции по восстановлению пароля
                                        .form-block
                                            .svg-wrap
                                                svg(role="img" class="svg")
                                                    use( xlink:href="/assets/img/sprite.svg#envelope")
                                            input(type="text" class="info" placeholder="Электронная почта")
                                        div(class='form-block height')
                                            input(type="submit" class='button forget' value="Восстановить пароль")
                                        .form-block
                                            .form-block__text Вспомнили пароль?
                                            a(href='photo_main.html' class='form-link') Войти

                    .login__down
                        .login__down-text 2017 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool
