extends ../_template

block variables
    - var title = 'Photo_main'


block content
    include ../commons/index/index_content
    .wrapper
        .header
           .header__top
               .content
                   .header-container
                       .user
                           .user__avatar
                               .user__avatar-img(style="background-image:url('/assets/img/user.jpg');")
                                   img.avatar-pic(src="/assets/img/user.jpg" alt="")
                           .user__inf
                               .user__name Фамилия Имя
                               .user__text Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и актвный отдых.
                               ul.user__icons-list
                                       li.user__icons-item
                                          a(href='#').user__icons-link
                                               svg(role="img" class="svg")
                                                   use( xlink:href="/assets/img/sprite.svg#soc_vk")
                                       li.user__icons-item
                                           a(href='#').user__icons-link
                                               svg(role="img" class="svg" )
                                                   use( xlink:href="/assets/img/sprite.svg#soc_fb")
                                       li.user__icons-item
                                           a(href='#').user__icons-link
                                               svg(role="img" class="svg" )
                                                   use( xlink:href="/assets/img/sprite.svg#soc_twitter")
                                       li.user__icons-item
                                           a(href='#').user__icons-link
                                               svg(role="img" class="svg")
                                                   use( xlink:href="/assets/img/sprite.svg#social_google")
                                       li.user__icons-item
                                           a(href='#').user__icons-link
                                               svg(role="img" class="svg")
                                                   use( xlink:href="/assets/img/sprite.svg#soc_email")
                       .edit
                               .edit-wrap.edit
                                   .svg-wrap
                                       svg(role="img" class="svg")
                                           use( xlink:href="/assets/img/sprite.svg#edit")
                                   a(href='search.html' class='hover-link')
                                           .edit-hover__text Редактировать
                               .edit-wrap.out
                                   .svg-wrap
                                       svg(role="img" class="svg")
                                           use( xlink:href="/assets/img/sprite.svg#off")
                                   a(href='index.html' class='hover-link')
                                           .edit-hover__text Выйти
           .header__down
               .content-down
                   .search
                       .svg-wrap
                           svg(role="img" class="svg")
                               use( xlink:href="/assets/img/sprite.svg#search")
                       input(type="text" class="search-input" placeholder="Исследовать мир")
        section.world
           .content
               .noalbum
                   .noalbum-text Увы , пока ничего не загружено!Загрузите что-нибудь и станьте первым
               h2.world__title Новое в мире
               .world__container
                   ul.album-photo__list
                       li(class='album-photo__item')
                           .album-photo__top
                               .album-photo__img
                                   .img-hover
                                       a(href='#' class='hover-link')
                                           .img-hover__block
                                               svg(role="img" class="svg")
                                                   use( xlink:href="/assets/img/sprite.svg#loupe")
                           .world__down
                               .world__down-inf
                                   .user__avatar.small
                                       .user__avatar-img.small(style="background-image:url('/assets/img/user.jpg');")
                                           .avatar-hover
                                               a(href='#' class='avatar-hover__link')
                                                   .avatar-hover__block
                                                       svg(role="img" class="svg")
                                                           use( xlink:href="/assets/img/sprite.svg#more")
                                   .discription
                                       .photo__discription Отдых в горах
                                   .comments
                                       a(href="#" class='comment-link')
                                           .comments__note
                                               .svg-wrap
                                                   svg(role="img" class="svg")
                                                       use( xlink:href="/assets/img/sprite.svg#comments")
                                       .comments__quant 1
                                       a(href='#' class='likes-link')
                                           .likes
                                               .svg-wrap
                                                   svg(role="img" class="svg")
                                                       use( xlink:href="/assets/img/sprite.svg#like")
                                       .likes__quant 1
                               .world__down-album
                                   a(href='#' class="edit-link")
                                       .svg-wrap
                                           svg(role="img" class="svg")
                                               use( xlink:href="/assets/img/sprite.svg#album")
                                   .album-wrap
                                       a(href='user.html')
                                           .album__name Горы
                       li(class='album-photo__item')
                           .album-photo__top
                               .album-photo__img
                                   .img-hover
                                       a(href='#' class='hover-link')
                                           .img-hover__block
                                               svg(role="img" class="svg")
                                                   use( xlink:href="/assets/img/sprite.svg#loupe")
                           .world__down
                               .world__down-inf
                                   .user__avatar.small
                                       .user__avatar-img.small(style="background-image:url('/assets/img/user.jpg');")
                                           .avatar-hover
                                               a(href='#' class='avatar-hover__link')
                                                   .avatar-hover__block
                                                       svg(role="img" class="svg")
                                                           use( xlink:href="/assets/img/sprite.svg#more")
                                   .discription
                                       .photo__discription Отдых в горах
                                   .comments
                                       a(href="#" class='comment-link')
                                           .comments__note
                                               .svg-wrap
                                                   svg(role="img" class="svg")
                                                       use( xlink:href="/assets/img/sprite.svg#comments")
                                       .comments__quant 1
                                       a(href='#' class='likes-link')
                                           .likes
                                               .svg-wrap
                                                   svg(role="img" class="svg")
                                                       use( xlink:href="/assets/img/sprite.svg#like")
                                       .likes__quant 1
                               .world__down-album
                                   a(href='#' class="edit-link")
                                       .svg-wrap
                                           svg(role="img" class="svg")
                                               use( xlink:href="/assets/img/sprite.svg#album")
                                   .album-wrap
                                       a(href='user.html')
                                           .album__name Горы
                       li(class='album-photo__item')
                           .album-photo__top
                               .album-photo__img
                                   .img-hover
                                       a(href='#' class='hover-link')
                                           .img-hover__block
                                               svg(role="img" class="svg")
                                                   use( xlink:href="/assets/img/sprite.svg#loupe")
                           .world__down
                               .world__down-inf
                                   .user__avatar.small
                                       .user__avatar-img.small(style="background-image:url('/assets/img/user.jpg');")
                                           .avatar-hover
                                               a(href='#' class='avatar-hover__link')
                                                   .avatar-hover__block
                                                       svg(role="img" class="svg")
                                                           use( xlink:href="/assets/img/sprite.svg#more")
                                   .discription
                                       .photo__discription Отдых в горах
                                   .comments
                                       a(href="#" class='comment-link')
                                           .comments__note
                                               .svg-wrap
                                                   svg(role="img" class="svg")
                                                       use( xlink:href="/assets/img/sprite.svg#comments")
                                       .comments__quant 1
                                       a(href='#' class='likes-link')
                                           .likes
                                               .svg-wrap
                                                   svg(role="img" class="svg")
                                                       use( xlink:href="/assets/img/sprite.svg#like")
                                       .likes__quant 1
                               .world__down-album
                                   a(href='#' class="edit-link")
                                       .svg-wrap
                                           svg(role="img" class="svg")
                                               use( xlink:href="/assets/img/sprite.svg#album")
                                   .album-wrap
                                       a(href='user.html')
                                           .album__name Горы
                       li(class='album-photo__item')
                           .album-photo__top
                               .album-photo__img
                                   .img-hover
                                       a(href='#' class='hover-link')
                                           .img-hover__block
                                               svg(role="img" class="svg")
                                                   use( xlink:href="/assets/img/sprite.svg#loupe")
                           .world__down
                               .world__down-inf
                                   .user__avatar.small
                                       .user__avatar-img.small(style="background-image:url('/assets/img/user.jpg');")
                                           .avatar-hover
                                               a(href='#' class='avatar-hover__link')
                                                   .avatar-hover__block
                                                       svg(role="img" class="svg")
                                                           use( xlink:href="/assets/img/sprite.svg#more")
                                   .discription
                                       .photo__discription Отдых в горах
                                   .comments
                                       a(href="#" class='comment-link')
                                           .comments__note
                                               .svg-wrap
                                                   svg(role="img" class="svg")
                                                       use( xlink:href="/assets/img/sprite.svg#comments")
                                       .comments__quant 1
                                       a(href='#' class='likes-link')
                                           .likes
                                               .svg-wrap
                                                   svg(role="img" class="svg")
                                                       use( xlink:href="/assets/img/sprite.svg#like")
                                       .likes__quant 1
                               .world__down-album
                                   a(href='#' class="edit-link")
                                       .svg-wrap
                                           svg(role="img" class="svg")
                                               use( xlink:href="/assets/img/sprite.svg#album")
                                   .album-wrap
                                       a(href='user.html')
                                           .album__name Горы
               .show
                  .show__button
                      .show__button-text Показать еще
        section.myalbum
             .content
                 .noalbum
                     .noalbum-text Альбомы еще не созданы.Создайте альбом с помощью кнопки добавить
                 h2.myalbum__title Мои альбомы
                 .add.main
                     .add__btn
                         .svg-wrap
                             svg(role="img" class="svg")
                                 use( xlink:href="/assets/img/sprite.svg#add")
                         a(href='#' class='hover-link')
                             .edit-hover__text Добавить
                 .myalbum__container
                     ul.myalbum__list
                         li.myalbum__item
                             .myalbum__top
                                 .myalbum-hover
                                     a(href='#' class="hover-link")
                                         .myalbum-hover__block
                                             .album__discription Фотографии природы леса,енотов,оленей
                                             .all
                                                 .photo__quant 7
                                                 .all__photo-text Фотографий
                             .myalbum__down
                                 a(href='#' class='edit-link')
                                    .svg-wrap
                                       svg(role="img" class="svg")
                                           use( xlink:href="/assets/img/sprite.svg#edit")
                                 .user-album
                                       .album__name Горы
                         li.myalbum__item
                             .myalbum__top
                                 .myalbum-hover
                                     a(href='#' class="hover-link")
                                         .myalbum-hover__block
                                             .album__discription Фотографии природы леса,енотов,оленей
                                             .all
                                                 .photo__quant 7
                                                 .all__photo-text Фотографий
                             .myalbum__down
                                 a(href='#' class='edit-link')
                                     .svg-wrap
                                         svg(role="img" class="svg")
                                             use( xlink:href="/assets/img/sprite.svg#edit")
                                 .user-album
                                     .album__name Горы
                         li.myalbum__item
                             .myalbum__top
                                 .myalbum-hover
                                     a(href='#' class="hover-link")
                                         .myalbum-hover__block
                                             .album__discription Фотографии природы леса,енотов,оленей
                                             .all
                                                 .photo__quant 7
                                                 .all__photo-text Фотографий
                             .myalbum__down
                                 a(href='#' class='edit-link')
                                     .svg-wrap
                                         svg(role="img" class="svg")
                                             use( xlink:href="/assets/img/sprite.svg#edit")
                                 .user-album
                                     .album__name Горы
                         li.myalbum__item
                             .myalbum__top
                                 .myalbum-hover
                                     a(href='#' class="hover-link")
                                         .myalbum-hover__block
                                             .album__discription Фотографии природы леса,енотов,оленей
                                             .all
                                                 .photo__quant 7
                                                 .all__photo-text Фотографий
                             .myalbum__down
                                 a(href='#' class='edit-link')
                                     .svg-wrap
                                         svg(role="img" class="svg")
                                             use( xlink:href="/assets/img/sprite.svg#edit")
                                 .user-album
                                     .album__name Горы
        .footer
             .footer-overlay
                 .content
                     .footer-wrap
                            .footer-block
                                .footer-text Перед вами сервис ,который поможет вам организовать свои фотографии в альбом и поделиться ими со всем миром
                            .footer-block
                                a(href="").footer-arrow
                                    .svg-wrap
                                        svg(role="img" class="svg")
                                            use( xlink:href="/assets/img/sprite.svg#top")
                            .footer-block
                                .footer-autors 2017  Создано командой профессионалов на продвинутом курсе по веб-разработке в LoftSchool

