extends ../_template

block variables
    - var title = 'Search'


block content
    include ../commons/index/index_content
    .wrapper
        .search-header
            .search-header__top
                .content
                    .search-container
                        .search-header__title Исследуй мир
                        .edit
                            .edit-wrap.home
                                .svg-wrap
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#home")
                                a(href='photo_main.html' class='hover-link')
                                    .edit-hover__text На главную
            .search-header__down
                .content
                    .flex__down
                        .user-block
                            div(class='user__avatar small')
                                div(class='user__avatar-img small' style="background-image:url('/assets/img/user.jpg');")
                                    img.avatar-pic(src="/assets/img/user.jpg" alt="")
                            .user__inf
                                .user__name Фамилия Имя
                        .search
                                .svg-wrap
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#search")
                                input(type="text" class="search-input" placeholder="Исследовать мир")
                        .search-header__text
                            a(href='#' class='search-header__link') Показать новые

        section.world
            .content
                .noalbum
                    .noalbum-text Увы , пока ничего не загружено!Загрузите что-нибудь и станьте первым
                .search-answer
                    .search-answer__text По запросу "Природа" было найдено 9 результатов
                .world__container
                    ul.album-photo__list
                        li(class='album-photo__item')
                            .album-photo__top
                                .album-photo__img
                                    .img-hover
                                        a(href='#' class='hover-link')
                                            .img-hover__block
                                                svg(role="img" class="svg")
                                                    use( xlink:href="/assets/img/sprite.svg#loupe")
                            .world__down
                                .world__down-inf
                                    .user__avatar.small
                                        .user__avatar-img.small(style="background-image:url('/assets/img/user.jpg');")
                                            .avatar-hover
                                                a(href='#' class='avatar-hover__link')
                                                    .avatar-hover__block
                                                        svg(role="img" class="svg")
                                                            use( xlink:href="/assets/img/sprite.svg#more")
                                    .discription
                                        .photo__discription Отдых в горах
                                    .comments
                                        a(href="#" class='comment-link')
                                            .comments__note
                                                .svg-wrap
                                                    svg(role="img" class="svg")
                                                        use( xlink:href="/assets/img/sprite.svg#comments")
                                        .comments__quant 1
                                        a(href='#' class='likes-link')
                                            .likes
                                                .svg-wrap
                                                    svg(role="img" class="svg")
                                                        use( xlink:href="/assets/img/sprite.svg#like")
                                        .likes__quant 1
                                .world__down-album
                                    a(href='#' class="edit-link")
                                        .svg-wrap
                                            svg(role="img" class="svg")
                                                use( xlink:href="/assets/img/sprite.svg#album")
                                    .album-wrap
                                        a(href='user.html')
                                            .album__name Горы
        .footer
            .footer-overlay
                .content
                    .footer-wrap
                        .footer-block
                            .footer-text Перед вами сервис ,который поможет вам организовать свои фотографии в альбом и поделиться ими со всем миром
                        .footer-block
                            a(href="").footer-arrow
                                .svg-wrap
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#top")
                        .footer-block
                            .footer-autors 2017  Создано командой профессионалов на продвинутом курсе по веб-разработке в LoftSchool




