.edit_profile {
  min-height: 645px;

  @media (max-width: 600px) {
    padding: 24px 8px 22px;
  }
}

.modal__header_profile {
  padding: 20px 8px;
}

.modal__close_profile {
  @media (max-width: 340px) {
    top: 0;
  }
}

.modal__desc_profile {
  @media (max-width: 600px) {
    margin-bottom: 5px;
  }
}

.edit__name_profile {
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }
}

.edit__name-textarea_profile, .edit__name-textarea_link {
  min-height: 40px;
  width: 246px;

  @include phone {
    width: 280px;
  }
}

.edit__name-textarea_profile {

  @include tablet {
    width: 216px;
  }

  @media (max-width: 600px) {
    width: 95%;
  }

  &_first {
    margin-right: 20px;

    @media (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

.edit__desc_profile {

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.edit__upload-cover_profile {
  margin-bottom: 5px;

  &-bottom {
    margin-bottom: 25px;
  }

  @include tablet {
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.horizontal-line-profile {
  width: 680px;
  height: 1px;
  background: #d6d6d6;
  margin-bottom: 40px;
}

.edit__profile-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.edit__name_profile-links {
  justify-content: flex-start;
  margin-bottom: 8px;

  @media (max-width: 600px) {
    margin-bottom: 12px;
  }
}

.modal__desc_profile-link {
  text-align: right;
  min-width: 80px;

  @media (max-width: 600px) {
    margin-bottom: 5px;
    text-align: left;
  }
}